<footer class="mt-5" *ngIf="user$ | async as user">
  <div *ngIf="user.name; else emptyTemplate">
    <div class="fixed-bottom bg-white p-1">
      <div class="container">
        <div class="row text-center">
          <div class="col-6">
            <a [routerLink]="['']">
              <i class="fa fa-home fa-1x"></i>
            </a>
          </div>
          <div class="col-6">
            <a [routerLink]="['photo', 'add']">
              <i class="fa fa-plus-circle fa-1x"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #emptyTemplate></ng-template>
</footer>
