<header class="fixed-top">
  <nav class="navbar navbar-light bg-light shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand display-4">ALURAPIC</a>

      <div *ngIf="user$ | async as user">
        <div *ngIf="user.name; else loginTemplate">
          <i class="fa fa-user-circle"></i>

          <a class="ml-2 user-name-configuration">{{ user.name }}</a>

          <a style="margin-left: 5px" (click)="logout()">(Logout)</a>
        </div>
      </div>

      <ng-template #loginTemplate>
        <div class="navbar-text">
          <a [routerLink]="['']">Please, login</a>
        </div>
      </ng-template>
    </div>
  </nav>

  <div class="fixed-top">
    <ap-loading></ap-loading>

    <ap-alert></ap-alert>
  </div>
</header>
